<div class="auth-wrapper">
  <div class="auth-container">

    <!-- LEFT TAGLINE SECTION -->
    <div class="auth-left">
      <h1>Timeless Elegance</h1>
      <p>
        Discover handcrafted gold & silver jewellery designed 
        to shine with your story.
      </p>
    </div>

    <!-- RIGHT FORM SECTION -->
    <div class="auth-right">
      <div class="auth-card">

        <h2>{{ isLoginMode ? 'Welcome Back' : 'Create Account' }}</h2>

        <!-- LOGIN FORM -->
        <form *ngIf="isLoginMode" [formGroup]="loginForm" (ngSubmit)="onLogin()">
          <input type="email" formControlName="email" placeholder="Email" />
          <input type="password" formControlName="password" placeholder="Password" />

          <button type="submit" [disabled]="loading">
            {{ loading ? 'Logging in...' : 'Login' }}
          </button>
        </form>

        <!-- SIGNUP FORM -->
        <form *ngIf="!isLoginMode" [formGroup]="signupForm" (ngSubmit)="onSignup()">
          <input type="text" formControlName="name" placeholder="Full Name" />
          <input type="email" formControlName="email" placeholder="Email" />
          <input type="password" formControlName="password" placeholder="Password" />

          <button type="submit" [disabled]="loading">
            {{ loading ? 'Creating...' : 'Sign Up' }}
          </button>
        </form>

        <!-- Divider -->
        <div class="divider"><span>or</span></div>

        <!-- Google Button -->
<button class="btn btn-light border google-btn d-flex align-items-center gap-2 px-4 py-2"
        (click)="loginWithGoogle()">

  <svg width="18" height="18" viewBox="0 0 48 48">
    <path fill="#EA4335" d="M24 9.5c3.54 0 6.71 1.22 9.21 3.61l6.86-6.86C35.94 2.36 30.4 0 24 0 14.61 0 6.44 5.48 2.51 13.44l8 6.2C12.6 13.6 17.81 9.5 24 9.5z"/>
    <path fill="#4285F4" d="M46.5 24c0-1.54-.14-3.02-.41-4.44H24v8.41h12.65c-.55 2.96-2.22 5.47-4.74 7.16l7.36 5.73C43.86 36.23 46.5 30.6 46.5 24z"/>
    <path fill="#FBBC05" d="M10.51 28.64c-.5-1.48-.79-3.05-.79-4.64s.29-3.16.79-4.64l-8-6.2C.91 16.27 0 20.02 0 24s.91 7.73 2.51 10.84l8-6.2z"/>
    <path fill="#34A853" d="M24 48c6.4 0 11.77-2.11 15.7-5.73l-7.36-5.73c-2.05 1.38-4.68 2.2-8.34 2.2-6.19 0-11.4-4.1-13.49-9.64l-8 6.2C6.44 42.52 14.61 48 24 48z"/>
  </svg>

  <span>Continue with Google</span>
</button>

        <!-- Toggle -->
        <p class="switch-text">
          <span *ngIf="isLoginMode">
            Don’t have an account?
            <a (click)="switchMode(false)">Sign Up</a>
          </span>

          <span *ngIf="!isLoginMode">
            Already a user?
            <a (click)="switchMode(true)">Sign In</a>
          </span>
        </p>

      </div>
    </div>

  </div>
</div>
